ZFrameWin/Service References/WCFS/WCFServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52448/WCFServices.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetListUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LoginPWD" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="GetListUsersResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerDateTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerDateTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="GetServerDateTimeResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login_UserCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login_UserCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="Login_UserCheckResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>