ZFrameWin/Service References/WCFS/WCFServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost/ZFrameWCF/WCFServices.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost/ZFrameWCF/WCFServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ZFrameWCF/WCFServices.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WCFServices_GetCheckCodeImage_InputMessage">
    <wsdl:part name="parameters" element="GetCheckCodeImage" />
  </wsdl:message>
  <wsdl:message name="WCFServices_GetCheckCodeImage_OutputMessage">
    <wsdl:part name="parameters" element="GetCheckCodeImageResponse" />
  </wsdl:message>
  <wsdl:message name="WCFServices_GetListUsers_InputMessage">
    <wsdl:part name="parameters" element="GetListUsers" />
  </wsdl:message>
  <wsdl:message name="WCFServices_GetListUsers_OutputMessage">
    <wsdl:part name="parameters" element="GetListUsersResponse" />
  </wsdl:message>
  <wsdl:message name="WCFServices_GetServerDateTime_InputMessage">
    <wsdl:part name="parameters" element="GetServerDateTime" />
  </wsdl:message>
  <wsdl:message name="WCFServices_GetServerDateTime_OutputMessage">
    <wsdl:part name="parameters" element="GetServerDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="WCFServices_Login_UserCheck_InputMessage">
    <wsdl:part name="parameters" element="Login_UserCheck" />
  </wsdl:message>
  <wsdl:message name="WCFServices_Login_UserCheck_OutputMessage">
    <wsdl:part name="parameters" element="Login_UserCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="WCFServices">
    <wsdl:operation name="GetCheckCodeImage">
      <wsdl:input wsaw:Action="urn:WCFServices/GetCheckCodeImage" message="WCFServices_GetCheckCodeImage_InputMessage" />
      <wsdl:output wsaw:Action="urn:WCFServices/GetCheckCodeImageResponse" message="WCFServices_GetCheckCodeImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListUsers">
      <wsdl:input wsaw:Action="urn:WCFServices/GetListUsers" message="WCFServices_GetListUsers_InputMessage" />
      <wsdl:output wsaw:Action="urn:WCFServices/GetListUsersResponse" message="WCFServices_GetListUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerDateTime">
      <wsdl:input wsaw:Action="urn:WCFServices/GetServerDateTime" message="WCFServices_GetServerDateTime_InputMessage" />
      <wsdl:output wsaw:Action="urn:WCFServices/GetServerDateTimeResponse" message="WCFServices_GetServerDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login_UserCheck">
      <wsdl:input wsaw:Action="urn:WCFServices/Login_UserCheck" message="WCFServices_Login_UserCheck_InputMessage" />
      <wsdl:output wsaw:Action="urn:WCFServices/Login_UserCheckResponse" message="WCFServices_Login_UserCheck_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>